/* @font-face {
   font-family: "forever_brush_script";
   src: local("forever_brush_script"),
      url('../fonts/forever_brush_script/forever_brush_script.woff'),
      url('../fonts/forever_brush_script/forever_brush_script.woff2');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
} */
